/*Colors:

Blue: 093FB4
White: FFFCFB
Pink: FFD8D8
Red: ED3500

*/

* {
    margin: 0;
}

body, html {
    background-color: #FFFCFB;
}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 2em;
}

h1 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.5em;
    }
}

.centered {
    text-align: center;
}

.navbar {
    background-color: #FFFCFB;
    margin: 0em;
    padding: 0.5em;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 0.01em solid #000000;
}

.navbar a {
    font-family: 'Inclusive Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    margin: 1em;
    padding: 1em;
}

.navbar a:hover {
    color: #ED3500;
}

.hover-underline {
    display: inline-block;
    position: relative;
}
  
.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2em;
    bottom: 0;
    left: 0;
    background-color: #FFD8D8;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
  
.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.hero-text {
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 5em;
    margin: 0.75em;
    color: #093FB4;
}

@media screen and (max-width: 900px) {
    .hero-text {
        font-size: 3em;
        margin: 1.5em 0em;
    }
}

.hero-image {
    padding-top: 3em;
    height: 20em;
    display: block;
    margin: auto;
    margin-bottom: -3em;
}

.header {
    padding: 0.5em 0em;
}

.header h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #ED3500;
}

.header-underline {
    background-color: #FFD8D8;
    width: 100%;
    height: 0.3em;
    margin: 0.5em 0em 1em 0em;
}

.country-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
}

.country-card {
    margin-top: -2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.country-card img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 12em;
    margin: 5em;
}

@media screen and (max-width: 900px) {
    .country-card {
        margin-top: 2em; 
    }

    .country-card img {
        height: 8em;
        margin: 3em;
    }
}

.percent {
    margin-top: -1em;
    font-family: 'Fugaz One', sans-serif;
    font-size: 3em;
}

.country-card p {
    text-align: center;
}

.big-bold-year {
    font-size: 18em;
    text-align: center;
    color: #ED3500;
    text-decoration: underline;
    text-decoration-color: #FFD8D8;
    text-underline-offset: .15em;
    text-decoration-style: wavy;
    margin-top: -.1em;
}

.big-bold-year-2 {
    font-size: 12em;
    text-align: center;
    color: #093FB4;
    text-decoration: underline;
    text-decoration-color: #ED3500;
    text-underline-offset: .15em;
    text-decoration-style: double;
    margin-bottom: 0.25em;
}

@media screen and (max-width: 1200px) {
    .big-bold-year {
        font-size: 9em;
    }

    .big-bold-year-2 {
        font-size: 5em;
    }
}

.chart {
    width: 65%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media screen and (max-width: 900px) {
    .chart {
        width: 100%;
    }
}

.highcharts-root {
    font-family: 'Inclusive Sans', sans-serif !important;
}

.personalized-script {
    background-color: #FFD8D8;
    padding: 1.5em 3em;
    border-radius: 1em;
    margin: 1em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.script-item {
    margin: 1.5em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.script-item label, input {
    display: inline-block;
    font-size: 1em;
}

.script-item label {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}

.script-item input {
    font-family: 'Inclusive Sans', sans-serif;
    color: #000000;
    width: 75%;
    background-color: #FFFCFB;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.script-item input[type="text"]:focus {
    outline: 0.2em solid #ED3500;
    outline-offset: 0.05em;
}

#script-button, #copy-button {
    background-color: #ED3500;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    font-size: 1em;
    border-radius: 0.25em;
    border: none;
    margin: 1em 0em;
    padding: 0.5em;
    overflow: auto;
    margin-left: auto;
}

#script-button:hover, #copy-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

#script-button:active, #copy-button:active {
    scale: 0.95;
}

#copy-button {
    display: none;
}

#script-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 2em;
}

#script-returned {
    display: none;
    font-family: 'Inclusive Sans', sans-serif;
    color: #000000;
    font-style: italic;
    font-size: 1em;
    background-color: #FFFCFB;
    padding: 1em;
    border-radius: 0.25em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.revolving-text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 2em;
    border-radius: 0.5em;
    /*border: 0.25em dashed #FFD8D8;*/
}

.moving-text {
    font-family: 'Inclusive Sans', sans-serif;
    color: #093FB4;
    height: 6.25em;
    line-height: 5.625em;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.moving-text li {
    list-style: none;
    color: #093FB4;
    font-size: 3em;
    position: relative;
    top: 0;
    animation: slide 12s steps(5) infinite;
}

.moving-text span {
    position: relative;
}

@media screen and (max-width: 1200px) {
    .moving-text li {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 900px) {
    .moving-text li {
        font-size: 1em;
    }
}

@keyframes slide {
    100% {
        top: -450px;
    }
}

.divider {
    border-bottom: 0.01em solid #000000;
    margin: 2em 0em;
}

.suffragist-card-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 90%;
    margin: 1em;
}

@media screen and (max-width: 900px) {
    .suffragist-card-gallery {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.suffragist-card {
    width: 30%;
    margin: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    .suffragist-card {
        width: 100%;
        margin: 2em;
    }
}

.suffragist-card img {
    height: 15em;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 1em;
}

.suffragist-card h1 {
    text-align: center;
    font-size: 1.25em;
    width: 100%;
    margin: 0.5em;
}

.suffragist-card p {
    text-align: center;
    font-size: 0.75em;
    width: 100%;
}

.suffragist-card a {
    text-align: center;
    color: #093FB4;
}

.suffragist-card a:visited {
    color: #093FB4;
}

.suffragist-card a:hover {
    cursor: pointer;
    opacity: 0.75;
}

.picture-frame-1 {
    border: 0.5em solid #ED3500;
    border-style: double;
    padding: 0.25em;
}

.picture-frame-2 {
    border: 0.4em solid #093FB4;
    border-radius: 6em;
    padding: 0.5em;
}

.picture-frame-3 {
    border: 1em solid #FFD8D8;
    border-style: dotted;
}

.picture-frame-4 {
    border: 0.5em dotted #093FB4;
    border-radius: 0.5em;
}

.picture-frame-5 {
    border: 0.35em dashed #FFD8D8;
    padding: 0.5em;
}

.picture-frame-6 {
    border: 0.3em dashed #ED3500;
    border-radius: 2em;
    padding: 0.25em;
}

.inspire-me-quotes {
    background-color: #ED3500;
    padding: 1.5em 3em;
    border-radius: 1em;
    margin: 1em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#inspire-me button {
    background-color: #093FB4;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    font-size: 1em;
    border-radius: 0.25em;
    border: none;
    margin: 1em 0em;
    padding: 0.5em;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2em;
}

#inspire-me:hover {
    opacity: 0.75;
    cursor: pointer;
}

#inspire-me:active {
    scale: 0.95;
}

#quote {
    font-size: 2em;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}
