/*Colors:

Blue: 093FB4
White: FFFCFB
Pink: FFD8D8
Red: ED3500

*/

* {
    margin: 0;
}

body, html {
    background-color: #FFFCFB;
}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 2em;
}

h1 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.5em;
    }
}

.centered {
    text-align: center;
}

img {
    -webkit-user-drag: none; 
    -moz-user-drag: none;
    -ms-user-drag: none;
}

::selection {
  background-color: #FFD8D8;
}

::-moz-selection {
  background-color: #FFD8D8;
}

.navbar {
    background-color: #FFFCFB;
    margin: 0em;
    padding: 0.5em;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 0.01em solid #000000;
}

.navbar a {
    font-family: 'Inclusive Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    margin: 1em;
    padding: 1em;
}

.navbar a:hover {
    color: #ED3500;
}

.hover-underline {
    display: inline-block;
    position: relative;
}
  
.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2em;
    bottom: 0;
    left: 0;
    background-color: #FFD8D8;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
  
.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.hero-text {
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 5em;
    margin: 0.75em;
    color: #093FB4;
}

.hero-subtext {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

#home-text {
    margin: 0.25em;
}

@media screen and (max-width: 950px) {
    .hero-text {
        font-size: 3em;
        margin: 1.5em 0em;
    }

    .hero-subtext {
        width: 100%;
    }
}

.hero-image {
    height: 20em;
    display: block;
    margin: auto;
    margin-bottom: -1.5em;
    margin-top: 3em;
}

.header {
    padding: 0.5em 0em;
}

.header h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #ED3500;
}

.header-underline {
    background-color: #FFD8D8;
    width: 100%;
    height: 0.3em;
    margin: 0.5em 0em 1em 0em;
}

.country-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
}

.country-card {
    margin-top: -2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.country-card img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 12em;
    margin: 5em;
}

@media screen and (max-width: 900px) {
    .country-card {
        margin-top: 2em; 
    }

    .country-card img {
        height: 8em;
        margin: 3em;
    }
}

.percent {
    margin-top: -1em;
    font-family: 'Fugaz One', sans-serif;
    font-size: 3em;
}

.country-card p {
    text-align: center;
}

.big-bold-year {
    font-size: 18em;
    text-align: center;
    color: #ED3500;
    text-decoration: underline;
    text-decoration-color: #FFD8D8;
    text-underline-offset: .15em;
    text-decoration-style: wavy;
    margin-top: -.1em;
}

.big-bold-year-2 {
    font-size: 12em;
    text-align: center;
    color: #093FB4;
    text-decoration: underline;
    text-decoration-color: #ED3500;
    text-underline-offset: .15em;
    text-decoration-style: double;
    margin-bottom: 0.25em;
}

@media screen and (max-width: 1200px) {
    .big-bold-year {
        font-size: 9em;
    }

    .big-bold-year-2 {
        font-size: 5em;
    }
}

.chart {
    width: 65%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media screen and (max-width: 900px) {
    .chart {
        width: 100%;
    }
}

.highcharts-root {
    font-family: 'Inclusive Sans', sans-serif !important;
}

.personalized-script {
    background-color: #FFD8D8;
    padding: 1.5em 3em;
    border-radius: 1em;
    margin: 1em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.script-item {
    margin: 1.5em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.script-item label, input {
    display: inline-block;
    font-size: 1em;
}

.script-item label {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}

.script-item input {
    font-family: 'Inclusive Sans', sans-serif;
    color: #000000;
    width: 75%;
    background-color: #FFFCFB;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.script-item input[type="text"]:focus {
    outline: 0.2em solid #ED3500;
    outline-offset: 0.05em;
}

#script-button, #copy-button {
    background-color: #ED3500;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    font-size: 1em;
    border-radius: 0.25em;
    border: none;
    margin: 1em 0em;
    padding: 0.5em;
    overflow: auto;
    margin-left: auto;
}

#script-button:hover, #copy-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

#script-button:active, #copy-button:active {
    scale: 0.95;
}

#copy-button {
    margin-top: 1.5em;
    display: none;
}

#script-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 2em;
}

#script-returned {
    display: none;
    font-family: 'Inclusive Sans', sans-serif;
    color: #000000;
    font-style: italic;
    font-size: 1em;
    background-color: #FFFCFB;
    padding: 1em;
    border-radius: 0.25em;
    margin-top: 2em;
    margin-bottom: 1em;
}

@media screen and (max-width: 1300px) {
    .script-item {
        display: block;
    }

    .script-item label {
        margin-bottom: 1em;
    }

    .script-item input {
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    #script-button, #copy-button {
        margin-right: auto;
        margin-left: auto;
    }
}

.revolving-text {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 2em;
    border-radius: 0.5em;
}

.moving-text {
    font-family: 'Inclusive Sans', sans-serif;
    color: #093FB4;
    height: 6.25em;
    line-height: 5.625em;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin-bottom: -1em;
}

.moving-text li {
    list-style: none;
    color: #093FB4;
    font-size: 3em;
    position: relative;
    top: 0;
    animation: slide 12s steps(5) infinite;
}

.moving-text span {
    position: relative;
}

@media screen and (max-width: 1300px) {
    .moving-text li {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1150px) {
    .moving-text li {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 900px) {
    .moving-text li {
        font-size: 1em;
    }
}

@keyframes slide {
    100% {
        top: -450px;
    }
}

.divider {
    border-bottom: 0.01em solid #000000;
    margin: 2em 0em;
}

.suffragist-card-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    margin: 1em;
}

@media screen and (max-width: 900px) {
    .suffragist-card-gallery {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.suffragist-card {
    width: 30%;
    margin: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    .suffragist-card {
        width: 100%;
        display: block;
        margin: 3em auto;
    }
}

.suffragist-card img {
    height: 15em;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 1em;
}

.suffragist-card h1 {
    text-align: center;
    font-size: 1.25em;
    width: 100%;
    margin: 0.5em;
}

.suffragist-card p {
    text-align: center;
    font-size: 0.75em;
    width: 100%;
}

.suffragist-card a {
    text-align: center;
    color: #093FB4;
}

.suffragist-card a:visited {
    color: #093FB4;
}

.suffragist-card a:hover {
    cursor: pointer;
    opacity: 0.75;
}

.picture-frame-1 {
    border: 0.5em solid #ED3500;
    border-style: double;
    padding: 0.25em;
}

.picture-frame-2 {
    border: 0.4em solid #093FB4;
    border-radius: 6em;
    padding: 0.5em;
}

.picture-frame-3 {
    border: 1em solid #FFD8D8;
    border-style: dotted;
}

.picture-frame-4 {
    border: 0.5em dotted #093FB4;
    border-radius: 0.5em;
}

.picture-frame-5 {
    border: 0.35em dashed #FFD8D8;
    padding: 0.5em;
}

.picture-frame-6 {
    border: 0.3em dashed #ED3500;
    border-radius: 2em;
    padding: 0.25em;
}

.inspire-me-quotes {
    background-color: #ED3500;
    padding: 1.5em 3em;
    border-radius: 1em;
    margin: 1em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#inspire-me button {
    background-color: #093FB4;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    font-size: 1em;
    border-radius: 0.25em;
    border: none;
    margin: 1em 0em;
    padding: 0.5em;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2em;
}

#inspire-me:hover {
    opacity: 0.75;
    cursor: pointer;
}

#inspire-me:active {
    scale: 0.95;
}

#quote {
    font-size: 2em;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

#author {
    font-size: 2em;
    font-family: 'Fugaz One', sans-serif;
    color: #FFFCFB;
    text-align: right;
    margin-bottom: 1em;
    margin-right: 1em;
}

@media screen and (max-width: 750px) {
    #author {
        text-align: center;
        margin: 0em;
        margin-bottom: 1em;
    }
}

.vote-reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    margin: 1em;
}

.reason {
    margin: 2.5em;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .vote-reasons {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .reason {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.reason-red {
    width: 5.5em;
    height: 5.5em;
    align-items: center;
    display: flex;
    background-color: #FFD8D8;
    border: 0.2em solid #ED3500;
    border-radius: 0.25em 1em 0.25em 1em;
    padding: 1.5em;
    transform: rotate(-7deg);
}

.reason-blue {
    padding: 1.5em;
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    background-color: #093FB4;
    border: 0.75em double #FFFCFB;
    color: #FFFCFB;
    align-items: center;
    display: flex;
    transform: rotate(7deg);
}

.reason-red:hover {
    transform: rotate(7deg);
}

.reason-blue:hover {
    transform: rotate(-7deg);
}

#result {
    display: none;
}

.question {
    display: flex;
    justify-content: center;
}

.answer-box {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.answer-box button {
    margin: 0em 1em;
    background-color: #ED3500;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    font-size: 1em;
    border-radius: 0.25em;
    border: none;
    padding: 0.5em;
    overflow: auto;
}

@media screen and (max-width: 800px) {
    .answer-box button {
        margin: 0.5em 1em;
    }
}

.answer-box button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.answer-box button:active {
    scale: 0.95;
}

.answer-box button[disabled] {
    opacity: 0.5;
}

#result {
    text-align: center;
    font-size: 2em;
    font-family: 'Inclusive Sans', sans-serif;
    color: #093FB4;
}

.quick-facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    margin: 1em;
}

@media screen and (max-width: 900px) {
    .quick-facts {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .fact {
        margin: 1em;
    }
}

.fact {
    --s: 20em;
    width: var(--s); 
    aspect-ratio: 1;
    --g:/calc(var(--s)*0.133) calc(var(--s)*0.133) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.411) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.364) calc(50% + var(--s)*0.191) var(--g),calc(50% + var(--s)*0.233) calc(50% + var(--s)*0.338) var(--g),calc(50% + var(--s)*0.049) calc(50% + var(--s)*0.408) var(--g),calc(50% + var(--s)*-0.146) calc(50% + var(--s)*0.384) var(--g),calc(50% + var(--s)*-0.307) calc(50% + var(--s)*0.272) var(--g),calc(50% + var(--s)*-0.399) calc(50% + var(--s)*0.098) var(--g),calc(50% + var(--s)*-0.399) calc(50% + var(--s)*-0.098) var(--g),calc(50% + var(--s)*-0.307) calc(50% + var(--s)*-0.272) var(--g),calc(50% + var(--s)*-0.146) calc(50% + var(--s)*-0.384) var(--g),calc(50% + var(--s)*0.049) calc(50% + var(--s)*-0.408) var(--g),calc(50% + var(--s)*0.233) calc(50% + var(--s)*-0.338) var(--g),calc(50% + var(--s)*0.364) calc(50% + var(--s)*-0.191) var(--g),radial-gradient(calc(var(--s)*0.446),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.474) calc(50% + var(--s)*0.117) var(--g),calc(50% + var(--s)*0.366) calc(50% + var(--s)*0.324) var(--g),calc(50% + var(--s)*0.173) calc(50% + var(--s)*0.457) var(--g),calc(50% + var(--s)*-0.059) calc(50% + var(--s)*0.485) var(--g),calc(50% + var(--s)*-0.278) calc(50% + var(--s)*0.402) var(--g),calc(50% + var(--s)*-0.433) calc(50% + var(--s)*0.227) var(--g),calc(50% + var(--s)*-0.489) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.433) calc(50% + var(--s)*-0.227) var(--g),calc(50% + var(--s)*-0.278) calc(50% + var(--s)*-0.402) var(--g),calc(50% + var(--s)*-0.059) calc(50% + var(--s)*-0.485) var(--g),calc(50% + var(--s)*0.173) calc(50% + var(--s)*-0.457) var(--g),calc(50% + var(--s)*0.366) calc(50% + var(--s)*-0.324) var(--g),calc(50% + var(--s)*0.474) calc(50% + var(--s)*-0.117) var(--g);

    background-color: #FFD8D8;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.fact p {
    padding: 3em;
    text-align: center;
    margin: 2em;
}

.side-by-side-pie-charts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    margin: 1em;
}

.pie-chart {
    width: 40%;
    margin: 2em;
}

@media screen and (max-width: 1100px) {
    .side-by-side-pie-charts {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .pie-chart {
        width: 100%;
        margin: 2em 0em;
    }
}

.big-bold-year, .big-bold-year-2, .inspire-me-quotes, .personalized-script, .reason, input, .suffragist-card, .moving-text, .fact, .answer-box {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
