/*Colors:

Blue: 093FB4
White: FFFCFB
Pink: FFD8D8
Red: ED3500

*/

* {
    margin: 0;
}

body, html {
    background-color: #FFFCFB;
}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 2em;
}

h1 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
}

.navbar {
    background-color: #FFFCFB;
    margin: 0em;
    padding: 0.5em;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 0.01em solid #000000;
}

.navbar-logo img {
    height: 4.5em;
}

.navbar a {
    font-family: 'Inclusive Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    margin: 1em;
    padding: 1em;
}

.hero-text {
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 5em;
    margin: 0.5em;
    margin-top: 0em;
    color: #093FB4;
}

.hero-image {
    padding-top: 3em;
    height: 25em;
    display: block;
    margin: auto;
}

.header {
    padding: 0.5em 0em;
}

.header h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #ED3500;
}

.header-underline {
    background-color: #FFD8D8;
    width: 100%;
    height: 0.3em;
    margin: 0.5em 0em 1em 0em;
}