/*Colors:

Blue: 093FB4
White: FFFCFB
Pink: FFD8D8
Red: ED3500

*/

* {
    margin: 0;
}

body, html {
    background-color: #FFFCFB;
}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 2em;
}

h1 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.5em;
    }

    .chart {
        width: 100%;
    }
}

.centered {
    text-align: center;
}

.navbar {
    background-color: #FFFCFB;
    margin: 0em;
    padding: 0.5em;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 0.01em solid #000000;
}

.navbar a {
    font-family: 'Inclusive Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    margin: 1em;
    padding: 1em;
}

.navbar a:hover {
    color: #ED3500;
}

.hover-underline {
    display: inline-block;
    position: relative;
}
  
.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2em;
    bottom: 0;
    left: 0;
    background-color: #FFD8D8;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
  
.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.hero-text {
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 5em;
    margin: 0.75em;
    color: #093FB4;
}

@media screen and (max-width: 900px) {
    .hero-text {
        font-size: 3em;
        margin: 1.5em 0em;
    }
}

.hero-image {
    padding-top: 3em;
    height: 20em;
    display: block;
    margin: auto;
    margin-bottom: -3em;
}

.header {
    padding: 0.5em 0em;
}

.header h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #ED3500;
}

.header-underline {
    background-color: #FFD8D8;
    width: 100%;
    height: 0.3em;
    margin: 0.5em 0em 1em 0em;
}

.country-grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
}

.country-card {
    margin-top: -2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.country-card img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 12em;
    margin: 5em;
}

.percent {
    margin-top: -1em;
    font-family: 'Fugaz One', sans-serif;
    font-size: 3em;
}

.country-card p {
    text-align: center;
}

.big-bold-year {
    font-size: 18em;
    text-align: center;
    color: #ED3500;
    text-decoration: underline;
    text-decoration-color: #FFD8D8;
    text-underline-offset: .15em;
    text-decoration-style: wavy;
}

.big-bold-year-2 {
    font-size: 12em;
    text-align: center;
    color: #093FB4;
    text-decoration: underline;
    text-decoration-color: #ED3500;
    text-underline-offset: .15em;
    text-decoration-style: double;
}

@media screen and (max-width: 1200px) {
    .big-bold-year {
        font-size: 9em;
    }

    .big-bold-year-2 {
        font-size: 5em;
    }
}

.chart {
    width: 65%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.highcharts-root {
    font-family: 'Inclusive Sans', sans-serif !important;
}

.personalized-script {
    background-color: #FFD8D8;
    padding: 1.5em 3em;
    border-radius: 1em;
    margin: 1em;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.script-item {
    margin: 1.5em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.script-item label, input {
    display: inline-block;
    font-size: 1em;
}

.script-item label {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}

.script-item input {
    font-family: 'Inclusive Sans', sans-serif;
    color: #000000;
    width: 75%;
    background-color: #FFFCFB;
    border: none;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

#script-button, #copy-button {
    background-color: #ED3500;
    font-family: 'Inclusive Sans', sans-serif;
    color: #FFFCFB;
    font-size: 1em;
    border-radius: 0.25em;
    border: none;
    margin: 1em 0em;
    padding: 0.5em;
    overflow: auto;
    margin-left: auto;
}

#copy-button {
    display: none;
}

#script-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 2em;
}

#script-returned {
    display: none;
    font-family: 'Inclusive Sans', sans-serif;
    color: #000000;
    font-style: italic;
    font-size: 1em;
    background-color: #FFFCFB;
    padding: 1em;
    border-radius: 0.25em;
    margin-top: 2em;
    margin-bottom: 1em;
}